@import "../variables";
@import "../mixins";

.mini-note {
    display: flex;
    flex-direction: column;
    max-width: 46%;
    width: 100%;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 15px 10px;
    background-color: $black;
    @include box-shadow()
}

.mini-note__title {
    margin: 0;
}

.mini-note__items {
    list-style: none;
    padding-left: 10px;
    position: relative;
    margin: 15px 0 10px;
}

.mini-note__items--more:before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: .1px;

    box-shadow: #d6bfbf -1px -2px 4px 0px;
}

.mini-note__item {
    display: flex;
    margin-bottom: 10px;
}

.mini-note__actions {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}
