@import "../mixins";

.head {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;

    @include media-tablet {
        flex-direction: row;
    }
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}
