@import "../variables";

.custom-input {
    margin: 5px;
}

.custom-input__description {
    margin-right: 15px;
}

.custom-input__field {
    border-width: 0;
    background-color: #302c2e;

    padding: 5px 5px 2px;
    color: #f5f5f5;

    border-bottom: 2px solid #3D3837;
}

